

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Karma:wght@300;400;500;600;700&display=swap');
 
html {
  font-family: "Bitter", serif;
  color: black;
  /* background-color: #EEF5FB; */
  background-color: #FDFBF9;
  background-image: url('/grid.jpg');
  background-blend-mode: screen;
  background-size: 100%;
}

html:after, html:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20px;
  background: #fff;
  z-index: 21000;
}

html:after {
  right: 0;
  bottom: 0;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  height: 13px;
  background: #fff;
  z-index: 21000;
  top: 0;
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  height: 20px;
  background: #fff;
  z-index: 21000;
  bottom: 0;
}

body{
  margin: 10px 20px 10px 20px;
}


a, span{
  /* color: #0F1B61; */
  color: #47280B;
  text-decoration: none;
  font-weight: 600;
  /* margin-right: 50px; */
}

.header{
  position: fixed;
  width: 98%;
  /* background-color: #EEF5FB; */
  background-color: #FDFBF9;
  z-index: 2;
  
}

main{
  padding: 0 15% 0 15%;
}

.nav{
  font-family: Arial, Helvetica;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;
}


.Kenny{
  display: flex;
  align-items: center;
  height: 100%;
}

.Kenny img:first-child{
  height: 37px;
  width: 40px;
  margin-right: 10px;
}

.pipe{
  height: 32px;
  margin: 0 15px 0 10px;
}

.Kenny a{
  color: #47280B;
  /* color: #47280B; */
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.navlinks{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  font-size: 18px;
}

.navlinks a{
  margin-right: 15px;
  margin-left: 15px;
}

.navlinks span{
  width: 30px;
  height: 30px;
  border: 1px solid #214192;
  margin: 0 15px 0 15px;
}

.navlinks span:nth-child(2){
  background-color: #EEF5FB;
}

.navlinks span:nth-child(3){
  background-color: #FFF7F7;
}

.social-icons{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.red-rect{
  position: fixed;
  top: 0;
  left: 150px;
  height: 100%;
  width: 2px;
  z-index: 1;
}

.vertical-container {
  display: flex;
  flex-direction: row;
  margin-top: -80px;
  width: 35%;
  gap: 75px;
  opacity: 0;
}

.vertical-container.active {
  opacity: 1;
  transform: translateY(0);
  animation: popUp 0.5s backwards 0.5s;
  width: 100%;
}

.vertical-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.vertical-holder:hover{
  transform: scale(1.05);
  animation-duration: 200ms;
}

.vertical-holder span {
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #FF5708;
}

.stripes-bg{
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.stripes-bg div{
  height: 40%;
  width: 50%;
  background-image: url('/dots.svg');
  background-size: 11px;
  animation: floatAround 3s infinite alternate;
  opacity: 0.3;
  filter: hue-rotate(180deg) saturate(5); 
}

.vertical, .vertical1 {
  width: 1px;
  height: 40vh;
  background: linear-gradient(to left, #E78A5F 0%, #FFDAA5 100%);
}

.copyright{
  position: fixed;
  bottom: 100px;
  left: 60px;
  font-size: 12px;
  transform: rotate(-90deg);
  color: #919795;
  font-weight: 300;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  letter-spacing: .02em;
  display: flex;
  align-items: center;
  transform-origin: bottom left;
  gap: 10px;
}

.copyright span{
  width: 30px;
  height: 1px;
  background-color: #919795;
}

@keyframes floatAround {
  0% {
      transform: translateY(0) translateX(0);
  }
  50% {
      transform: translateY(-10px) translateX(5px);
  }
  100% {
      transform: translateY(0) translateX(0);
  }
}

@keyframes floatAround1 {
  0% {
      transform: translateY(0) translateX(0);
  }
  50% {
      transform: translateY(10px) translateX(-5px);
  }
  100% {
      transform: translateY(0) translateX(0);
  }
}

@keyframes popUp {
  from {
      opacity: 0;
      transform: translateY(100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
